<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%=image_tag "raxmat_final.png", style: "height: 27px;" %>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#">Products</a></li>
      <li><a href="#">Foundations</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Cras justo odio</a></li>
          <li><a href="#">Dapibus ac facilisis in</a></li>
          <li><a href="#">Morbi leo risus</a></li>
          <li><a href="#">Porta ac consectetur ac</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
        </ul>
      </li>
    </ul>

    <div class="nav navbar-nav navbar-right" style="padding-top: 7px;">
      <% if user_signed_in? %>
        <span style="color: #ff7f70;">Balance: <%= current_user.balance %> c.</span>
		    &nbsp;&nbsp;
        <a href="#"><%= current_user.email %></a>
        &nbsp;&nbsp;
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
  <% if current_page?('/') %>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <%=image_tag "children-cover-02.jpg", style: "width: 100%;" %>
    </div>
  </div>
  <% end %>
</nav>
