<div class="col-md-4">
  <div class="thumbnail item">
    <a href="/items/<%=item.id %>">
      <%= image_tag item.thumbnail.small, class: 'item_image' %>
    </a>

    <div class="caption">
      <h3><%= item.title %></h3>
      <p><%= item.description.truncate 150 %></p>
      <p class="lead price"><%= item.price %></p>
      <p>
        <a href="/items/<%=item.id %>" class="btn btn-success">Go!</a>
      </p>
    </div>
  </div>
</div>
