<div class="jumbotron" style="text-align: center;">
  <h1 style="">Rahmat for your purchase!</h1>
  <p>
    <strong style="color: #419035; background-color: pink;"><%= @item.charity_value %> kgz.</strong>
    will go to <strong>&laquo;<%= @item.foundation.name %>&raquo;</strong> foundation.
  </p>

  <p>
    <strong style="color: #419035;">
      <%= @item.seller_value %> <%= 'kgz.' if @item.seller_value != 'Rahmat!' %>
    </strong>
    to <strong>Seller</strong>
  </p>

  <p style="margin-bottom: 50px;">
    <strong style="color: #419035;"><%= @item.commission %> kgz.</strong>
    to <strong>&laquo;Raxmat!&raquo;</strong>
  </p>

  <p><a class="btn btn-primary" href="#" role="button">Great! Return to home page.</a></p>
</div>
