<p id="notice"><%= notice %></p>

<div class="container-fulid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <%= image_tag @item.thumbnail.small, class: 'item_image', style: 'width: 100%;' %>
    </div>
    <div class="col-md-8 col-xs-12">
      <h2><%=@item.title %></h2>
      <h5><%=@item.description %></h5>
      <p class="price"><%=@item.price %></p>
      <button class="btn btn-primary">Buy</button>
    </div>
  </div>
</div>
