<!DOCTYPE html>
<html>
<head>
  <title>Raxmat</title>
  <%= stylesheet_link_tag 'vendor', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div class="container">
    <p id="notice" class="alert alert-info">asdASDASD</p>

  <%= yield %>
</div>

<%= javascript_include_tag 'vendor' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
